<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dev Pulse - Engineering Innovation Through Code{% endblock %}</title>
    <meta name="description" content="Dev Pulse - Engineering Innovation Through Code. Portfolio of Khensani Daniel Ntulo showcasing innovative solutions bridging traditional engineering with modern software development.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    
    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>